In [37]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [114]:
a = Series([1, 2, 3, 4], index=['x', 'b', 'z', 'k'])
print(a.values)
print(a.index)
print(a)

[1 2 3 4]
Index(['x', 'b', 'z', 'k'], dtype='object')
x    1
b    2
z    3
k    4
dtype: int64

In [45]:
print(np.exp(a))

x     2.718282
y     7.389056
z    20.085537
k    54.598150
dtype: float64

In [51]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
indx = ['California', 'Ohio', 'Oregon', 'Texas'] 
x = Series(sdata, index=indx)
print(pd.notnull(x))

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [57]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
y = Series(sdata)
z = x + y
print(z)

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [68]:
z.name = 'population'
z.index = ['CA', 'OH', 'OR', 'TX', 'UT']
z.index.name = 'state'
print(z)

state
CA         NaN
OH     70000.0
OR     32000.0
TX    142000.0
UT         NaN
Name: population, dtype: float64

In [119]:
data = {'pop': [1.5, 1.7, 3.6, 2.4, 2.9],
        'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
}
frame = DataFrame(data, index=['a', 'b', 'c', 'd', 'e'], columns=['pop', 'year', 'state'])
frame['population'] = [100, 200, 300, 400, 500]
print(frame)

   pop  year   state  population
a  1.5  2000    Ohio         100
b  1.7  2001    Ohio         200
c  3.6  2002    Ohio         300
d  2.4  2001  Nevada         400
e  2.9  2002  Nevada         500

In [120]:
print(frame.loc['c'])

pop            3.6
year          2002
state         Ohio
population     300
Name: c, dtype: object

In [121]:
frame['series'] = a
print(frame)

   pop  year   state  population  series
a  1.5  2000    Ohio         100     NaN
b  1.7  2001    Ohio         200     2.0
c  3.6  2002    Ohio         300     NaN
d  2.4  2001  Nevada         400     NaN
e  2.9  2002  Nevada         500     NaN

In [124]:
print(frame.T)

               a     b     c       d       e
pop          1.5   1.7   3.6     2.4     2.9
year        2000  2001  2002    2001    2002
state       Ohio  Ohio  Ohio  Nevada  Nevada
population   100   200   300     400     500
series       NaN     2   NaN     NaN     NaN